{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Create Pesanan</title>
{% endblock meta %}

{% block content %}
    {% if role == 'admin' %}
    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container" align='center'>
            </br>
            <label for="">ID Pesanan</label>
            </br>
            <input type="text" class="form-control" placeholder="Masukkan ID pesanan" name="" required value="PSxxx" disabled>
            </br>
            </br>
            <label for="">Nama Pesanan</label>
            </br>
            <input type="text" class="form-control" placeholder="Masukkan nama pesanan" name="" required>
            </br>
            </br>
            <label for="">Jenis Pesanan</label>
            </br>
            <input type="text" class="form-control" placeholder="Masukkan jenis pesanan" name="" required>
            </br>
            </br>
            <label for="">Detail Pesanan</label>
            <select id="" name="ID">
            </select>
            </br>
            </br>
            <div align='center'>
                <button type='submit'>Buat</button>      
            </div>
        </div> 
    </form>
    {% endif %}
    {% if role == 'pengguna' %}
    <h1>Pengguna tidak bisa mengakses fitur ini!</h1>
    {% endif %}
{% endblock content %}